*{
    margin: 0;
    padding: 0;
}

/* FUENTES */

@font-face {
    font-family: "happyFont";
    src: url(../fonts/ShadowsIntoLight-Regular.ttf);
}
html{
    font-size: 14px;
    
}

body{
    font-family: "happyFont";
    /* background-color: rgb(230, 196, 218); */
    background-image: url(../svg/fondo.svg);
}
h1{
    text-align: center;
    font-size: 3em;
}
h2{
    text-align: center;
}
#contenedor{
    margin: 0 auto;
    padding: 15px;
    width: 80%;
    min-height: fit-content;
    height: max-content;
    background-color:rgb(230, 196, 218) ;
    box-shadow: 1px 3px 10px rgb(117, 90, 117);
    margin-bottom: 50px;
    font-size: 2em;

}

#contenedor_respuestas{
    width: 90%;
    min-height: 400px;
    height: min-content;
    margin: 0 auto;
    margin-top: 40px;    
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 10px #444 inset;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.caja_respuesta{
    
    width:40%;
    height: 40px;
    min-height: fit-content;
    background-color: purple;
    box-shadow: 3px 3px 10px #444, 0px 4px 5px #444;
    color: white;
    margin: 30px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 300ms;
    cursor: pointer;

    display: flex;
    flex-wrap: wrap;

}

.caja_respuesta:hover{
    scale: 1.2;
}

/* ACIERTO */


#contenedor_acierto{
    position: absolute;
    top: 0;
    width: 95%;
    height: 95vh;
    margin-left:2%;
    margin-top: 1vh;
    background-color: rgba(230, 196, 218, .8);
    box-shadow: 0, 0, 10px, black;
    backdrop-filter: blur(4px);
}

#contenedorAcierto{
    position: absolute;
    top: 0;
    width: 95%;
    height: 95vh;
    margin-left:2%;
    margin-top: 1vh;
    background-color: rgba(230, 196, 218, .8);
    backdrop-filter: blur(4px);
    /* display: none; */
}



#contenedor_alerta{
    background-color: purple;
    width: 70%;
    min-height:20vh ;
    height: fit-content;
    margin: 0 auto;
    margin-top: 5vh;
    color: white;
    font-size: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 3px 3px 10px  #444;
}



/* JUEGO 5 */

#contenedorCartas{
    width: 95%;
    height: min-content;
    padding: 1vh;
    background-color: white;
    box-shadow: 2px 2px 5px gray inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carta{
    position: relative;
    width: 35%;
    height: 20vh;
    background-color: antiquewhite;
    margin: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 10px #444;
    color: white;
    
}


#carta1{
    background-image: url(../img/juego5/img1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#carta2{
    background-image: url(../img/juego5/img2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#carta3{
    background-image: url(../img/juego5/img3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#carta4{
    background-image: url(../img/juego5/img4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#redonda{
    position: absolute;
    width: 95%;
    height: 90%;
    top: -90%;
    left: -70%;
    border-radius: 50%;
    transition: 300ms ease-in;
    background-color: rgba(160, 54, 150,.5);
    backdrop-filter: blur(4px);
    
}

#carta1:hover #redonda{
    
    width: 200%;
    height: 200%;
}
#carta2:hover #redonda{
    
    width: 200%;
    height: 200%;
}
#carta3:hover #redonda{
    
    width: 200%;
    height: 200%;
}
#carta4:hover #redonda{
    
    width: 200%;
    height: 200%;
}

#texto{
    position: absolute;
    font-size: 3vh;
    top: -90%;
    margin-left: 1em;
    transition: ease-in-out 500ms;
}

#carta1:hover #texto{
    top: 0;
}
#carta2:hover #texto{
    top: 0;
}
#carta3:hover #texto{
    top: 0;
}
#carta4:hover #texto{
    top: 0;
}


#respuestaOrden{
    width: 100%;
    text-align: center;
}
#orden{
    width: 35vh;
    font-family: inherit;
    letter-spacing: 2px;
}
#botonOrden{
    font-family: inherit;
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
}


/* MEDIA QUERIES */

@media (max-width:500px) {

    #contenedor{
        width: 90%;
        height: max-content;
        min-height: max-content;
        font-size: 14px;
    }
    #contenedor_juego{
        height: fit-content;
        width: 95%;
    }
   
    .caja_respuesta{
        width: 90%;


    }


    .imagen_prueba{
        width: 100%;
        flex-grow: 1;
        margin-bottom: 10px;
    }

    #contenedor_acierto, #contenedorAcierto{
        padding: 0;
        margin: 0;
        min-height: fit-content;
    }

    #contenedor_alerta{
        padding: 15px;
        margin-top: 5px;
        /* width: max-content; */
        height: max-content;
    }

    #contenedor_acierto video{
        width: 100%;
        height: 300px;
        min-height: auto;

    }
   
}

@media (max-width:2000px){
    .carta{
        width:40% ;
        height: 30vh;
    }
}