*{
    padding: 0;
    margin: 0;
}

/* FUENTES */

@font-face {
    font-family: "happyFont";
    src: url(../fonts/ShadowsIntoLight-Regular.ttf);
}
html{
    font-size: 14px;
    
}

body{
    font-family: "happyFont";
    /* background-color: rgb(230, 196, 218); */
    background-image: url(../svg/fondo.svg);
}
h1{
    text-align: center;
    font-size: 3em;
}
h2{
    text-align: center;
}
#contenedor{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: fit-content;
    height: 800px;
    background-color:rgb(230, 196, 218) ;
    box-shadow: 1px 3px 10px rgb(117, 90, 117);
    margin-bottom: 50px;
    flex-direction: column;
}

#contenedor_juego{
    display: flex;
    width: 90%;
    min-height: fit-content;
    height: 600px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.caja_pregunta{
    
    width: 70%;
    height: fit-content;
}

.caja_pregunta p{
    text-align: center;
}

.caja_pregunta .pregunta{
    font-size: 3em;
}

#contenedor_respuestas{
    width: 90%;
    min-height: 400px;
    height: fit-content;
    margin-top: 40px;    
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 10px #444 inset;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.caja_respuesta{
    
    width:40%;
    height: 40px;
    min-height: fit-content;
    background-color: purple;
    box-shadow: 3px 3px 10px #444, 0px 4px 5px #444;
    color: white;
    margin: 30px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 300ms;
    cursor: pointer;

    display: flex;
    flex-wrap: wrap;

}

.caja_respuesta:hover{
    scale: 1.2;
}

.caja_respuesta .respuesta{
    margin-top: 9px;
    font-weight: 900;
}


    /*ACIERTO*/

#contenedor_acierto{
    position: absolute;
    top: 0;
    width: 95%;
    height: 95vh;
    margin-left:2%;
    margin-top: 1vh;
    background-color: rgba(230, 196, 218, .8);
    box-shadow: 0, 0, 10px, black;
    display: none;
    backdrop-filter: blur(4px);
}

#contenedor_alerta{
    background-color: purple;
    width: 50%;
    min-height:20vh ;
    height: fit-content;
    margin: 0 auto;
    margin-top: 20%;
    color: white;
    font-size: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 3px 3px 10px  #444;
    
}

#contenedor_alerta a{
    text-decoration: none;
    color: white;
    transform: all 300ms;
    
}



#contenedor_alerta img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    fill: white;
}

#contenedor_alerta img:hover{
    scale:1.2;
}


/* JUEGO IMAGENES */


#contenedor_imagenes{
    width: 90%;
    min-height: fit-content;
    height: 700px;
    margin-top: 40px; 
    margin-right: 10px;
    margin-bottom: 10px;   
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 10px #444 inset;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

}

.imagen_prueba{
    width: 40%;
    height: 40%;
    cursor: pointer;
    overflow: hidden;
    
    
}

.imagen_prueba a{
    width: 100%;
    height: 100%;
}



#imagen1 img{
    width: 100%;
    height: 100%;
    background-color: rgb(94, 174, 113);

}

#imagen2 img{
    width: 100%;
    height: 100%;
    background-color: rgb(95, 117, 149);
}
#imagen3 img{
    width: 100%;
    height: 100%;
    background-color: rgb(126, 139, 64);
}
#imagen4 img{
    width: 100%;
    height: 100%;
    background-color: rgb(49, 36, 48);
}

.fa-cake-candles{
    color: white;
    scale: 1.3;
    stroke: black;
    stroke-width: 13px;
    animation: candle 1s alternate infinite;
}

@keyframes candle {
    from{
        scale: 1.1;
        transform: rotate(5deg);
        color: pink;
    }
    to{
        transform: rotate(-5deg);
    }
    
}

.fa-cake-candles:hover{
   
    scale: 1.5;

}

#btn1{
    animation: buton 1s alternate infinite;
}


@keyframes buton{
    from{
        
        transform: scale(1.2) rotate(-15deg);
    }
    to{
        transform: rotate(5deg);
    }
}
/* MEDIA QUERIES */

@media (max-width:500px) {

    #contenedor{
        width: 95%;
        height: max-content;
        font-size: 10px;
    }
    #contenedor_juego{
        height: max-content;
        width: 95%;
    }
#contenedor_imagenes{
    height: max-content;
    width: 95%;
}
#contenedor_acierto{
    height: 100vh;
}
   



    .imagen_prueba{
        width: 100%;
        flex-grow: 1;
        margin-bottom: 10px;
    }
}